<%= form_with(model: @property, local: true, url: choose_new_or_edit) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= @property.errors.count %> 件のエラーがあります。</h2>
      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="property_form">
    <%= f.label "物件名" %><br>
    <%= f.text_field :name %><br>
    <%= f.label "賃料" %><br>
    <%= f.text_field :value %><br>
    <%= f.label "住所" %><br>
    <%= f.text_field :address %><br>
    <%= f.label "築年数" %><br>
    <%= f.text_field :age %><br>
    <%= f.label "備考" %><br>
    <%= f.text_area :memo %><br>
  </div>
  <div class="station_form">
    
    <%= f.fields_for :nearest_stations do |near| %>
      <%= near.label "路線名" %><br>
      <%= near.text_field :route %><br>
      <%= near.label "駅名" %><br>
      <%= near.text_field :station %><br>
      <%= near.label "徒歩分数" %><br>
      <%= near.text_field :time %><br><br>
      <%= f.submit "登録する"%>
      </div>
    <% end %>
<% end %>
